@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-stoke: #5F5F5F;
  --color-button: #1A191C;
  --color-secondary-black: #B2AFAB;
  --color-secondary-white: #757176;
  --color-button-p: #D1D1D0;
  --color-hover-black: #252328;
  --color-hover-thumb: #CBCBCB;
  --color-black: #131313;
  --color-pattern: #F8F8F8;
  --text-xl: 1.1rem;

  --font-sans: "Syne", sans-serif;
  --font-titles: "Wix Madefor Display", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }

  h1, h2, h3, p, a {
    @apply text-pattern;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--color-pattern);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover-thumb);
}
html::-webkit-scrollbar-track {
  background: var(--color-black);
}