@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-500: #a7c957;
  --color-primary-600: #6a994e;
  --color-gray-500: #C4C4CC;
  --color-gray-600: #8D8D99;
  --color-black-600: #202024;
  --color-black-700: #121214;
  --color-black-800: #09090A;
  --text-xl: 1.1rem;
  --text-2xl: 1.25rem;

  --font-sans: "Syne", sans-serif;
  --font-titles: "Wix Madefor Display", sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-black-700;
  }

  h1, h2, h3, p, a {
    @apply text-white;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: var(--color-pattern);
}
html::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover-thumb);
}
html::-webkit-scrollbar-track {
  background: var(--color-black);
}